
@font-face {
    font-family: 'permanent_markerregular';
    src: url('../fonts/permanentmarker-regular-webfont.woff2') format('woff2'),
        url('../fonts/permanentmarker-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body, html{
    margin: 0;
    padding: 0;
}

body {
	background-image: url("../images/fond.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
h1 {
    color: #5bc0de;
}
#connexion{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
form{
    padding: 0;
    margin: 0;
}
.table{
    padding-top: 10px;
    padding-bottom: 0;
}
.navbar{
    margin-bottom: 0;
}
.well{
    margin-bottom: 10px;
}
.table > thead > tr > th {
    background: #333333;
    color: white;
    text-align: center;
}
.table > tbody > tr > td {
    vertical-align: middle;
}
.table > tbody > tr > td  i {
    font-size: 16px;
}
.navbar-header img{
    padding: 0;
    margin: 0;
    max-height: 5rem;
}
@media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
    }
}

.modal{
    top: 50%;
    transform: translateY(-50%);
    bottom:inherit;
}
.modal-header{
    background-color: #CCCCCC;
    border-radius: 6px 6px 0 0;
    padding: 5px;
}
#titreMenu{
    font-size: 20px;
}

.imgFond {
    margin-top: 17rem;
    width: 100%;
    height: auto;
}

.banniereONLGSP {
    position: absolute;
    top: 5rem;
    padding-right: 0;
    padding-left: 0;
}

.imgsvg {
    width: 100%;
    height: 17.3rem;
    position: relative;
}

.imgONLGSP {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
}

.articleAccueil {
    margin-top: 5rem;
    width: 100%;
    height: 28rem;
}

.blocAccueil {
    height: 40rem;
    margin-bottom: 25rem;
}

.blocAccueil2 {
    margin-bottom: 0;
    width: 100%;
    height: auto;
}

.Overwatch {
    width: 100%;
    height: 34.6rem;
}



.imgFondConnexion {
    width: 100%;
    height: auto;
}

.conteneur {
    width: 100%;
    height: 130rem;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.blocAccueil1 {
    margin-top: 10rem;
    margin-bottom: 15rem;
    height: 40rem;
}

.col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

.newsAccueil {
    margin: 0;
    padding: 0;
    color: aliceblue;
    margin-top: 5rem;
    font-family: 'permanent_markerregular';
}

.newsAccueil1 {
    margin-top:10rem;
    margin-bottom: 5rem;
    color: aliceblue;
    font-family: 'permanent_markerregular';
}

.titreIndex {
    background-color: white;
    opacity: 0.6;
}

.imgSlider {
    width: 100%;
    height: 15rem;
}

.footer li{
    list-style: none;
}
.footer {
    position: absolute;
    bottom: 2%;
    z-index: 10001;
}

.footer h3{
    margin-top: 0;
    color: red;
}
.contact {
    border-right: 8px solid black;
}
